---
layout: landing
baseurl: ''
targetx_form: true
title: Success
description: ''
background_graphic: '/uploads/20110126_D31_1777.jpg'
testimonials:
- name_details: "Debra A. Daun, Class of 2018"
  portrait: "assets/img/d-daun2.jpg"
  quote: "I completed finals the week of my 60th birthday, something I am proud of. In 1980 I received a B.S. in Biology, but this Associate’s Degree in Computer Graphics Technology means even more to me. Each thing I have learned has made me that much more capable in today’s world, allowing me to find job opportunities that I couldn’t have taken advantage of before. KCC has made a huge difference in my life, both in learning and in the people I have come to know here."
- name_details: "Kyle Boudreau - Attended KCC 2007-09"
  portrait: "uploads/kyle-boudreau_d51_0147.jpg"
  quote: "KCC is a special place to me. The faculty, staff, and professors there helped prepare me for my future as an educator. Loved everything about my time there."
---

{% include header.html %}
{% include benefits.html %}
{% include bottom-action-call.html %}