<!-- preconnect to Google assets -->
<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- GCS -->
<link rel="preconnect" href="https://clients1.google.com">
<link rel="preconnect" href="https://www.google.com">
{% if page.background_graphic %}
<link rel="preconnect" href="{{ page.baseurl }}{{ page.background_graphic }}">
<link rel="preload" as="image" href="{{ page.baseurl }}{{ page.background_graphic }}">
{% endif %}