// TARGETX STYLES
// ========================================

.targetx__wrapper {
  margin-top: -35px !important;
  z-index: -1 !important;
}

// STYLE OVERRIDES TO TARGETX's STYLESHEET:
// ========================================

.wFormContainer form {
  line-height: 1 !important;
}

p.supportInfo {
  display: none !important; // Hides an empty paragraph that just makes the form longer
}

@media screen and (min-width: 1200px) {
  .wForm form > div.oneField {
    margin-top: 0 !important; // Makes the spacing between form questions tighter/closer-together
  }
}

@media screen and (min-width: 1800px) {
  .wForm form > div.oneField {
    margin-top: 10px !important; // Makes the spacing between form questions tighter/closer-together
  }
}

@media screen and (min-width: 1200px) {
  .wForm div > div.oneField {
    margin-top: .05rem !important; // Makes the spacing between form questions tighter/closer-together
  }
}

.wFormContainer {
  // Adjust the left and right padding of the form
  padding-left: 5px !important;
  padding-right: 5px !important;
}

@media screen and (min-width: 1600px) {
  .wFormContainer {
    padding: 1rem 2rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .wFormContainer {
    margin-bottom: 0 !important;
  }
}

#tfa_749 {
  // align radio buttons w/ text's baseline
  margin-top: -5px !important; // move the 2 inline radio buttons up a little
}

#tfa_749-L {
  // align radio buttons w/ text's baseline
  margin-top: 2px !important; // move the radio's label down a little
}

@media screen and (min-width: 1200px) {
  .wForm .preField {
    margin-bottom: .05rem !important; // overrides reset's label {margin-bottom: ...} to tighten up form labels
  }
}

#tfa_1178-D {
  max-width: 100% !important; // form selections that were wider than the rest
}

#tfa_1182-D {
  max-width: 100% !important; // form selections that were wider than the rest
}
